{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Список товаров</h1>
    <div class="row">
        <p>
            {{ include('partials/products_list.html.twig', {'products': products}) }}
        </p>
    </div>
</div>
{% endblock %}
