{% extends 'base.html.twig' %}
{% block body %}
    <div class="container"> <h1>Ваша карзина пустая</h1>
    <a href="{{ path('homepage') }}">Перейдите на главную страницу для покупки товара</a>
    </div>
{% endblock %}