{% extends 'base.html.twig' %}


{% block title %}Оформление заказа{% endblock %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">

            {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
            {% endfor %}

            {% for message in app.flashes('error') %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}

            {{ paymentButton|raw }}
            <p>

                <a href="{{ path('homepage') }}" class="btn btn-success"><strong><i>Продолжить покупки</i></strong></a> </p>

        </div>
    </div>
</div>
{% endblock %}

